<p>submissions works!</p>

<table>
    <thead>
        <tr>
            <th class="px-3 py-2">idSubmission</th>
            <th class="px-3 py-2">idProblem</th>
            <th class="px-3 py-2">Status</th>
        </tr>
    </thead>
    <tbody>
        @for (item of submissionList; track $index) {
        <tr>
            <td class="px-3 py-2">{{item.idSubmission}}</td>
            <td class="px-3 py-2">{{item.idProblem}}</td>
            <td class="px-3 py-2">{{item.status}}</td>
        </tr>
        }
    </tbody>
</table>